<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <link rel="stylesheet" href="quiz3.css">
</head>
<body>
    <h1>Topic-wise Quiz</h1>

    <a href="index1.html"><div>Article exercise</div></a>
    <a href="index4.html"><div> Tense exercise</div></a>
    <a href="index3.html"><div>Passive voice exercise</div></a>
    <a href="index2.html"><div>Conjunctions exercise</div></a>
    <a href="index5.html"><div>Prepositions exercise</div></a>
    <a href="index6.html"><div>Determiners exercise</div></a>

    
</body>
</html>