<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grammar Checker</title>
    <link rel="stylesheet" href="../Static/css/GramAi.css">
    <script src = "../Static/javascript/grammarchecker.js"></script>
</head>

<body>
    <nav>
        <div class="container main-nav flex">
            <a href="#" class="company-logo">
                <img src="../Static/Images/Logo.png" alt="company logo">
            </a>
            <div class="nav-links" id="nav-links">
                <ul class="flex">
                    <li><a href="../Templates/GramAi.html" class="hover-link">Home</a></li>
                    <li><a href="#" class="hover-link">Features</a></li>
                    <li><a href="#" class="hover-link"> About us</a></li>
                    <li><a href="#" class="hover-link">Contact us</a></li>
                    <li><a href="../Templates/signin.html" class="hover-link secondary-button">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
    

    <!-- header section -->
    <header>
        <div class="container header-section flex">
            <div class="header-left">
                <h1>Check Grammar </h1>
                <p>Our Grammar Checker helps you improve your writing by identifying grammar errors and providing suggestions for correction. Simply enter your text in the box below and click the "Check Grammar" button to see the corrections.</p>
                <p>Our tool will highlight any grammar mistakes in your text and offer suggestions on how to correct them. Improve your writing skills and ensure your messages are clear and professional with our Grammar Checker!</p>
                        </div>
            <div class="header-right">
                <img src="../Static/Images/owl.png" alt="hero image">
            </div>
        </div>
    </header>

    <div class="container">
        <div class="grammar-checker">
            <textarea id="inputText" placeholder="Enter your text here"></textarea>
            <button id = "grammarchecker">Check Grammar</button>
            <textarea id="outputText" placeholder="Grammar errors will appear here"></textarea>
        </div>
    </div>
    <br>
    <br>

</body>

</html>
