<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <link rel="stylesheet" href="games11.css">
</head>
<body>
    <h1>Topic-wise Quiz</h1>

    <a href="word_game/index.html"><div>Word Guessing Game</div></a>
    <a href="Image_guess_1/index.html"><div>Image Guessing Game</div></a>
    <!-- <a href="quiz3.html"><div>Test 3</div></a>
    <a href="quiz4.html"><div>Test 4</div></a>
    <a href="quiz5.html"><div>Test 5</div></a> -->
    <!-- <a href="quiz6.html"><div>Test 6</div></a> -->

    
</body>
</html>